@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  background: #181818;
  color: #ffffff;
  font-size: 11px;
}

body {
  background: #181818;
  color: #ffffff;
  font-family: 'Segoe UI', 'JetBrainsMono Nerd Font', ui-monospace, monospace;
  font-size: 11px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #181818;
  color: #ffffff;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  border: 2px solid #2b2b2b;
  border-radius: 4px;
  background: #1f1f1f;
  color: #ffffff;
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  border: 2px solid #2b2b2b;
  border-radius: 4px;
  background: #1f1f1f;
  color: #ffffff;
  cursor: pointer;
  padding: 4px;
  margin: 2px;

  &.displayed {
    border: 2px solid #2b2b2b;
    border-radius: 4px;
    background: #1f1f1f;
    color: #ffffff;
    padding: 4px;
  }

  &.focused {
    border: 2px solid #2b2b2b;
    border-radius: 4px;
    background: #1f1f1f;
    color: #f44747;
    padding: 4px;
  }
}

.title {
  background: #181818;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  margin-left: 8px;
  margin-right: 8px;
}

/* RIGHT */
.paused-button {
  border: 2px solid #ce9178;
  border-radius: 4px;
  background: #181818;
  color: #ce9178;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.paused-button i {
  margin-right: 4px;
  color: #ce9178;
}

.binding-mode {
  border: 2px solid #569CD6;
  border-radius: 4px;
  background: #181818;
  color: #569CD6;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.binding-mode i {
  margin-right: 4px;
  color: #569cd6
}

.tiling-direction {
  border: 2px solid #c586c0;
  border-radius: 4px;
  background: #181818;
  color: #c586c0;
  cursor: pointer;
  line-height: 1;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.cpu {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
}

.cpu .text {
  background: #181818;
  color: #ffffff;
  white-space: nowrap;
}

.cpu i {
  margin-right: 4px;
  color: #6a9955;
}

.cpu i.high {
  color: #f44747;
}

.cpu i.medium {
  color: #cd9731;
}

.cpu i.light {
  color: #d7ba7d;
}

.memory {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
}

.memory .text {
  background: #181818;
  color: #ffffff;
  white-space: nowrap;
}

.memory i {
  margin-right: 4px;
  color: #6a9955;
}

.memory i.high {
  color: #f44747;
}

.memory i.medium {
  color: #cd9731;
}

.memory i.light {
  color: #d7ba7d;
}

.audio {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
}

.audio .text {
  background: #181818;
  color: #ffffff;
  white-space: nowrap;
}

.audio i {
  margin-right: 4px;
  color: #ffffff;
}

.audio i.high {
  color: #f44747;
}

.audio i.medium {
  color: #cd9731;
}

.audio i.light {
  color: #d7ba7d;
}

.battery {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
}

.battery .text {
  background: #181818;
  color: #ffffff;
  white-space: nowrap;
}

.battery i {
  margin-right: 4px;
  color: #f44747;
}

.battery i.high {
  color: #6a9955;
}

.battery i.medium {
  color: #cd9731;
}

.battery i.light {
  color: #d7ba7d;
}

.network_down {
  background: #181818;
  color: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.network_down i {
  background: #181818;
  color: #0078d4;
  margin-right: 8px;
}

.network_up {
  background: #181818;
  color: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.network_up i {
  background: #181818;
  color: #f85149;
  margin-right: 8px;
}

.date {
  background: #181818;
  color: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #292e42;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.date i {
  background: #181818;
  color: #ffffff;
  margin-right: 4px;
}
