@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  background: #11111b;
  color: #cdd6f4;
  font-size: 10px;
}

body {
  background: #11111b;
  color: #cdd6f4;
  font-family: 'Segoe UI', 'JetBrainsMono Nerd Font', ui-monospace, monospace;
  font-size: 11px;
  font-weight: 500;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #11111b;
  color: #cdd6f4;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  border: 2px solid #45475a;
  border-radius: 4px;
  background: #1e1e2e;
  color: #cdd6f4;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  border: 2px solid #45475a;
  border-radius: 4px;
  background: #1e1e2e;
  color: #cdd6f4;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  padding: 4px 8px;
  margin: 2px;

  &.displayed {
    border: 2px solid #45475a;
    border-radius: 4px;
    background: #1e1e2e;
    color: #cdd6f4;
    padding: 4px 8px;
  }

  &.focused {
    border: 2px solid #45475a;
    border-radius: 4px;
    background: #1e1e2e;
    color: #f38ba8;
    padding: 4px 8px;
  }
}

.title {
  background: #11111b;
  color: #cdd6f4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  margin-left: 8px;
  margin-right: 8px;
}

/* RIGHT */
.paused-button {
  border: 2px solid #45475a;
  border-radius: 4px;
  background: #11111b;
  color: #f2cdcd;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.paused-button i {
  margin-right: 4px;
  color: #f2cdcd;
}

.binding-mode {
  border: 2px solid #45475a;
  border-radius: 4px;
  background: #11111b;
  color: #f5e0dc;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.binding-mode i {
  margin-right: 4px;
  color: #f5e0dc
}

.tiling-direction {
  border: 2px solid #45475a;
  border-radius: 4px;
  background: #11111b;
  color: #f5c2e7;
  cursor: pointer;
  line-height: 1;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.cpu {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
}

.cpu .text {
  background: #11111b;
  color: #cdd6f4;
  white-space: nowrap;
}

.cpu i {
  margin-right: 4px;
  color: #a6e3a1;
}

.cpu i.high {
  color: #f38ba8;
}

.cpu i.medium {
  color: #fab387;
}

.cpu i.light {
  color: #f9e2af;
}

.memory {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
}

.memory .text {
  background: #11111b;
  color: #cdd6f4;
  white-space: nowrap;
}

.memory i {
  margin-right: 4px;
  color: #a6e3a1;
}

.memory i.high {
  color: #f38ba8;
}

.memory i.medium {
  color: #fab387;
}

.memory i.light {
  color: #f9e2af;
}

.audio {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
}

.audio .text {
  background: #11111b;
  color: #cdd6f4;
  white-space: nowrap;
}

.audio i {
  margin-right: 4px;
  color: #cdd6f4;
}

.audio i.high {
  color: #f38ba8;
}

.audio i.medium {
  color: #fab387;
}

.audio i.light {
  color: #f9e2af;
}

.battery {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
}

.battery .text {
  background: #11111b;
  color: #cdd6f4;
  white-space: nowrap;
}

.battery i {
  margin-right: 4px;
  color: #f38ba8;
}

.battery i.high {
  color: #a6e3a1;
}

.battery i.medium {
  color: #fab387;
}

.battery i.light {
  color: #f9e2af;
}

.network_down {
  background: #11111b;
  color: #cdd6f4;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.network_down i {
  background: #11111b;
  color: #89dceb;
  margin-right: 8px;
}

.network_up {
  background: #11111b;
  color: #cdd6f4;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.network_up i {
  background: #11111b;
  color: #cba6f7;
  margin-right: 8px;
}

.date {
  background: #11111b;
  color: #cdd6f4;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #45475a;
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
}

.date i {
  background: #11111b;
  color: #cdd6f4;
  margin-right: 4px;
}
